a, .sec-contact .btn {
  -webkit-transition: all .25s;
  transition: all .25s;
}

/*=Typography=*/
html {
  font-size: 16px;
}

body {
  font-family: 'Alata', sans-serif;
  font-weight: 300;
}


.img {
  width: 40%;
  height: auto;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Alata', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.logonav{
  width: 40%;
}

.clientes{
  width: 60%;
}
.clientes-o{
  width: 70%;
  height: 120px;
}

.email{
  color: #FC3538;
}

.whatsapp {
  position: fixed;
  top: 82%;
  left: 1%;
  padding: 10px;
z-index: 10000000;
width: 80px;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p.lead{
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: 'Alata', sans-serif;
  color:#3F4245;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/
section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
  form {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/
.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

/*Header*/
.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FC3538;
}

.navbar-default .navbar-nav > li > a:active {
  color: #FC3538;
}

.fas{
  color: #FC3538;

}

/*Main*/
.sec-main {
  position: relative;
  height: 560px;
  background: url("https://media.istockphoto.com/photos/white-studio-background-picture-id1040250650?k=6&m=1040250650&s=612x612&w=0&h=Ve0znmMwCbVyo66uIfeSrSYRuHau85oBiVIv1OplATs=") no-repeat;
  background-size: cover;
}
.sec-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*About*/
.sec-about a {
  color: #3F4245;
}
.sec-about a:hover, .sec-about a:focus {
  color: #FC3538;
}

/*Services*/
.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px;
}

.sec-services h2 {
  margin: 1em 0;
}

/*Testimonials*/
.sec-testimonials {
  background: #f9f9f9;
}

/*Contact*/
.sec-contact .form-control:focus {
  color: #FC3538;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 0, 0, 0.6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #3F4245;
  font-size: .95rem;
  color: #fff;
}
.sec-contact .btn:hover, .sec-contact .btn:focus {
  color: #FC3538;
  color: #FC3538;
}

/*Footer*/
footer {
  background: #3F4245;
}

.soc-media-ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.fa-map-marker-alt{
  width: 60px;
    height: 60px;
    display: block;
  margin: 10px auto;
  color:#FF4136 ;
}

.iframe{
  text-align: center;

}

.adress{
  width: 100%;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 1.5625rem;
    box-sizing: border-box;
    color: #FF4136;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #FC3538;
}