<style>
  
  label.btn span {
   font-size: 1.5em ;
  }

  label input[type="radio"] ~ i.fa.fa-circle-o{
   color: #c8c8c8;    
   display: inline;
  }
  label input[type="radio"] ~ i.fa.fa-dot-circle-o{
   display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-circle-o{
   display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
   color: #7AA3CC;    
   display: inline;
  }
  label:hover input[type="radio"] ~ i.fa {
   color: #7AA3CC;
  }
  label input[type="checkbox"] ~ i.fa.fa-square-o{
   color: #c8c8c8;
   display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
   display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
   display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
   color: #7AA3CC;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
   color: #7AA3CC;
  }
  div[data-toggle="buttons"] label.active{
   color: #7AA3CC;
  }
  div[data-toggle="buttons"] label {
   display: inline-block;
   font-size: 10px;
   font-weight: normal;
  }
  div[data-toggle="buttons"] label:hover {
   color: #7AA3CC;
  }
  div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
   -webkit-box-shadow: none;
   box-shadow: none;
  }
  /* make sidebar nav vertical */ 
  @media (min-width: 768px){.affix-content .container {
   width: 700px;
  }   
  html,body, {   background-color:#f8f8f8;
   height: 100%;
   overflow: hidden;
   font-family: 'Source Sans Pro', sans-serif;

  }
  p, h1, a{
   height: 100%;
   overflow: hidden;
   font-family: 'Source Sans Pro', sans-serif;
  }
  .affix-content .container .page-header{
   margin-top: 0;
   padding-bottom: 30px;
  }
  .affix-sidebar{
   padding-right:0; 
   font-size:small;
   padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
   height: 100%;
   overflow: scroll;
   margin-left: 0;
   margin-right: 0;    
  } 
  .affix-content{
   background-color:black; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
   padding: 0;
   max-height: none;
  }
  .sidebar-nav .navbar{
   border-radius:0; 
   margin-bottom:0; 
   border:0;
  }
  .sidebar-nav .navbar ul {
   float: none;
   display: block;
  }
  .sidebar-nav .navbar li {
   float: none;
   display: block;
  }
  .sidebar-nav .navbar li a {
   padding-top: 12px;
   padding-bottom: 12px;
  }  
}
  .navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
   border-radius: 0;
   color: pink;
  }
  @media (min-width: 769px){.affix-content .container {
   width: 60px;
  }
  .affix-content .container .page-header{
   margin-top: 50px;
 }  
}
  @media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
  .affix-content .container .page-header{
   margin-top: 0;
  }
}
  .container-fluid {
   padding-right: 15px;
   padding-left: 0px;
   margin-right:50px;
   margin-left: 100px;
   padding-bottom: 0px;
   position: relative;

}
.navbar-inverse {
   padding-bottom:0px;
   padding-left: 50px;
   padding-right: 30px;
   padding-top: 0px;
}
.navbar-inverse {
   background-color: #222;
   border-color: #080808;
}
.navbar-left{
   padding-left: 50px;
}

.row{
text-align: center;

}
</style>