
html, body, .capa{
	height: 100%;
}

body{
	
	background:url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
				background-attachment: fixed;
				font-family: Helvetica, Arial, sans-serif;
				overflow-x: hidden;

}



nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;

} 

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin:  16px 10px;
}
.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover  {
	color: #9bf0e1;
	background: none;
}
.capa{
	
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing:  -0.05em;
	margin-bottom: 50px;
}

.btn-custom
{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:500px;
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	
}
.btn-roxo{
	background: #7c25f8;
}
.btn-roxo:hover{
	background-color: #6207e3;
	color: white;

}
.btn-branco{
	border: 2px solid white;
}
.btn-branco:hover{
	background-color: white;
	color: black;
}

#servicos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{
	padding: 20px 100px 100px 200px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;


}
.texto-roxo{
	color: #7c25f8;	
}
#recursos{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;

}
#recursos h3{
	color: #9bf0e1;
}
#servicos h2, #servicos h3{
	color: #7c25f8;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}

footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

#rodape h4{
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-color:white;

}

.item-rede-social{
	float: right;
}
p{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.04em;
	font-color:white;

}
.glyphicon-heart{
	color: white;
}